.imgcontainers {
    height: 100%;
}
.login {
    background-color: aquamarine;
    height: auto;
}


.update-password-card {
    max-width: 400px;
    margin: 10% 32%;
}

.update-password-actions {
    margin: auto;
    text-align: center;
}

.update-password-actions a {
    margin-bottom: 10px;
}

form {
    margin-left: 19%;
}

.next {
    margin: 0 30% 0 30%;
}

.update-password-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.headingcenter {
    margin: 2px 15%;
}