<div class="container">    
    <mat-card class="update-password-card">
        <mat-card-header>
            <h4 class="headingcenter">Forgot Password</h4>
        </mat-card-header>
        <mat-card-content>
            <form class="update-password-form">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="pat@pat.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    <mat-icon matSuffix>verified_user</mat-icon>
                </mat-form-field>
                
                <mat-form-field  appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="Password" type="password" [formControl]="new_password" required>
                    <mat-error *ngIf="new_password.invalid">{{getPasswordErrorMsg()}}</mat-error>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>

                <mat-form-field  appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput placeholder="Password" type="password" [formControl]="confirm_password" required>
                    <mat-error *ngIf="confirm_password.invalid">{{getPasswordErrorMsg()}}</mat-error>
                    <mat-icon matSuffix>vpn_key</mat-icon>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="update-password-actions">
            <a mat-raised-button color="primary" (click) = updatePassword(email.value,confirm_password.value)>Update password</a>
        </mat-card-actions>
    </mat-card>
</div>
<div class="row">
    <div class="col-12">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title class="d-flex card-title-alignment">Successfully registered</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="/assets/imgs/success.png">
            <mat-card-actions class="d-flex justify-content-center">
                <a mat-raised-button color="primary" routerLink="/login">Login</a>
            </mat-card-actions>
          </mat-card>
    </div>
</div>  